%d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%d-flex-col {
  @extend %d-flex;
  flex-direction: column;
}

@font-face {
  font-family: "arl";
  src: url('../fonts/ARLRDBD.TTF') format("truetype");
}

@font-face {
  font-family: "bahn";
  src: url('../fonts/BAHNSCHRIFT\ 1.TTF') format("truetype");
}

@font-face {
  font-family: "frabk";
  src: url('../fonts/FRABK.TTF') format("truetype");
}

@font-face {
  font-family: "mont-bold";
  src: url('../fonts/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "mont";
  src: url('../fonts/Montserrat-Medium.ttf') format("tretype");
}

@font-face {
  font-family: "segoe";
  src: url('../fonts/segoe-ui-light-2.ttf') format("truetype");
}

$typ-bahn : "bahn";
$typ-mont : "mont";
$typ-mont-bold: "mont-bold";
$typ-frabk: "frabk";
$typ-arl: "arl";
$typ-segoe: "segoe";


$color-gris-claro: #f2f2f2;
$color-rojo: #fb1112;
$color-azul: #061a7a;
$color-gris-oscuro: #444444;
$color-gris: #d8d6d6;


.t-white {color: #ffffff;}
.t-black {color: #000000;}
.b-white { background-color: #ffffff;}
.b-black {background-color: #000000;}
.t-black__hover:hover {color: #000000;}
.t-white__hover:hover {color: #ffffff;}


/* 
*******************************************************************************************
-----------------------------------------  generales --------------------------------------   
*******************************************************************************************
*/

.boton-shadow {
  box-shadow: 0 4px 9px rgba(0,0,0,.4); /*Sombra leve*/
  border-radius: 2px;
  transform: rotateZ(360deg);
  transition: all .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
}
.boton-shadow:hover, .boton-shadow:active{
  box-shadow: 0 9px 10px rgba(0,0,0,.4);
}

.hidden {
  display: none;
}

.title__section{
  width: 100%;
  h2{
    text-transform: uppercase;
    font-family: $typ-arl;
    color: black;
    margin-left: 2rem;
  }
  hr{
    width: 100%;
    border-bottom: 1px solid rgb(194, 194, 194);
  }
}

body {
  /* font-family: Arial; */
  font-family: "Montserrat";
}

// Reset rules
#masthead {
  display: none;
}
.storefront-product-section {
  display: none;
}



/* 
*******************************************************************************************
-----------------------------------------  header -----------------------------------------   
*******************************************************************************************
*/

.cabecera {
  @extend %d-flex-col;
  width: 100%;
  .barra_principal{
    width: 100%;
    @extend %d-flex;
    justify-content: flex-end;
    background-color: $color-azul;
    padding: 1rem 0.5rem;
    ul{
      list-style: none;
      margin: 0;
      @extend %d-flex;
      height: 2rem;
      li{
        @extend %d-flex;
        border-right: solid 1px rgba(255, 255, 255, 0.342);
        height: 100%;
        padding: 1.5rem 0.5rem;
        a{
          @extend %d-flex;
          margin: 0 0.5rem;
          transition: 0.3s;
          img{
            margin-right: 0.4rem;
            width: 2rem;
          }
          color: white;
          text-transform: uppercase;
          font-family: $typ-segoe;
          text-decoration: none;
        }
      }
      li:last-child{
        border-right: none;
      }
      li:hover{
        a{
          color: rgba(255, 255, 255, 0.726);
        }
      }
    }
    .buscar {
      @extend %d-flex;
      width: 100%;
      .label{
        @extend %d-flex-col;
        background-color: white;
        height: 2rem;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 0 0.7rem;
        text-transform: uppercase;
        color: rgb(131, 131, 131);
      }
      form{
        margin-bottom: 0;
        width: 60%;
      }
      input {
        text-transform: none;
        width: 100%;
        height: 2rem;
        background-color: white;
      }

      .imagen {
        height: 2rem;
        @extend %d-flex-col;
        border-radius: 25px;
        background-color: white;
        margin-left: -1.5rem;
        img {
          height: 60%;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
  .barra_menu{
    @extend %d-flex;
    background-color: $color-gris;
    .logo{
      width: 20%;
      padding: 1rem;
      img{
        width: 100%;
      }
    }
    .menu_principal{
      width: 70%;
    }
  }
}


.menu_principal {
  @extend %d-flex;
  #navbarNav {
    @extend %d-flex;
  }

  ul {
    @extend %d-flex;
    margin: 0;
    li {
      text-decoration: none;
      list-style: none;
      padding: 0rem 1rem;
      text-transform: uppercase;
      a {
        color: $color-azul;
        font-family: $typ-arl;
        transition: 0.3s;
      }
    }

    li:hover {
      a {
        color: black;
      }
    }
  }
}


/* 
*******************************************************************************************
--------------------------------------  contenido -----------------------------------------   
*******************************************************************************************
*/

.page-template-template-homepage {
  .contenido {
    @extend %d-flex-col;
    width: 100%;
    #inicio{
      width: 100%;
      img{
        width: 100%;
      }
    }
    #iconos{
      @extend %d-flex;
      align-items: flex-start;
      padding: 1rem;
      margin-top: 2rem;
      a{
        height: 10rem;
        width: 10rem;
        @extend %d-flex-col;
        justify-content: flex-start;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        font-family: $typ-arl;
        color: $color-azul;
        line-height: 100%;
        text-decoration: none;
        transition: 0.5s;
        img{
          width: 5rem;
          margin-bottom: 0.5rem;
        }
      }
      a:hover{
        background-color: $color-gris;
        transform: scale(1.05);
      }
    }
    #lomasvendido, #nuevasofertas, #categorias{
      margin-top: 2rem;
      width: 100%;
    }
    #categorias{
      .lista{
        @extend %d-flex-col;
        .columna{
          @extend %d-flex;
          .grupo{
            @extend %d-flex;
            .elemento{
              @extend %d-flex-col;
              width: 10rem;
              margin: 1rem;
              padding: 2rem;
              text-transform: uppercase;
              font-family: $typ-arl;
              color: $color-azul;
              transition: 0.4s;
              text-decoration: none;
              img{
                height: 5rem;
                margin-bottom: 1rem;
              }
              .varios{
                padding: 2rem 0;
              }
              .vehiculos{
                height: auto;
                padding: 1rem 0;
              }
            }
            .elemento:hover{
              background-color: $color-gris;
              transform: scale(1.05);
            }
          }
        }
      }
    }
    #lomasvendido, #nuevasofertas{
      @extend %d-flex-col;
      .productos{
        width: 95%;
        margin-top: 2rem;
        font-family: $typ-arl;
        .add_to_cart_button{
          display: none;
        }
        ul.products li.product .woocommerce-LoopProduct-link{
          position: relative;
          .onsale{
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
          }
          .star-rating{
            display: none;
          }
          .price{
            color: $color-azul;
            font-weight: bolder;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  #page {
    // Reset
    .storefront-breadcrumb {
      display: none !important;
    }
    main {
      @extend %d-flex-col;
      padding-top: 0;
      #post-5 {
        display: none;
      }
    }
  }
  // Reset
  #content .col-full {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}


/* 
*******************************************************************************************
-----------------------------------------  footer -----------------------------------------   
*******************************************************************************************
*/

#contacto {
  width: 100%;
  background-color: $color-gris;
  font-family: $typ-mont;
  @extend %d-flex-col;
  position: relative;
  .garantia{
    position: absolute;
    width: 5rem;
    top: -2.5rem;
    right: 4rem;
  }
  .info1{
    @extend %d-flex;
    .elemento{
      @extend %d-flex-col;
      width: 20%;
      margin: 3%;
      font-family: "Montserrat";
      color: black;
      font-size: 0.9rem;
      strong{
        width: 100%;
        margin: 1rem 0;
      }
      img{
        height: 4rem;
      }
    }
  }
  .info_contacto{
    @extend %d-flex-col;
    align-items: flex-start;
    width: 100%;
    font-family: "Montserrat";
    margin-bottom: 1rem;
    h3{
      text-transform: uppercase;
      font-weight: bolder;
      margin: 2rem;
    }
    .contenedor{
      @extend %d-flex;
      width: 100%;
      .enlaces{
        width: 60%;
        @extend %d-flex-col;
        .grupo{
          @extend %d-flex;
          .enlace{
            @extend %d-flex;
            width: 50%;
            margin: 0.55rem;
            img{
              width: 2.5rem;
              margin-right: 1rem;
            }
          }
        }
      }
      .logostarjetas{
        width: 40%;
        @extend %d-flex;
        justify-content: flex-end;
        img{
          width: 5rem;
          margin: 1rem;
        }
      }
    }
  }
}

/* para el footer */
.site-footer {
  padding: 0rem;
  background-color: black;
}

.site-info {
  padding: 0rem;
  margin: 0rem;
  font-family: "Montserrat";
  @extend %d-flex;
}

footer {
  .col-full {
    max-width: inherit;
    padding: 0rem;
    width: 100%;
    margin: 0rem;
  }
}

@media (max-width: 1135px) {

}

@media (max-width: 999px) {
 .cabecera{
   .barra_principal{
     ul{
       li:first-child, li:nth-child(1), li:nth-child(3), li:nth-child(4){
        display: none;
       }
     }
   }
 }
 .page-template-template-homepage{
   .contenido{
     #iconos{
       margin-top: 1rem;
       a{
         width: 5rem;
         height: 5rem;
         font-size: 0.7rem;
         margin: 0.5rem;
       }
     }
   }
 }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 5rem;
  }
  .page-template-template-homepage {
    .contenido {
      #categorias{
        .lista{
          .columna{
            flex-direction: column;
          }
        }
      }
    }
  }
  #contacto{
    .info_contacto{
      .contenedor{
        flex-direction: column;
        .enlaces, .logostarjetas{
          width: 90%;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 650px) {
 .cabecera{
   .barra_menu{
     .logo{
       width: 40%;
     }
   }
 }
 #contacto{
   .info1{
     flex-direction: column;
     .elemento{
       width: 90%;
     }
   }
 }
}

@media (max-width: 480px) {
  .title__section{
    h2{
      font-size: 1.2rem;
    }
  }
  .cabecera{
    .barra_menu{
      .logo{
        width: 70%;
      }
    }
  }
  .page-template-template-homepage {
    .contenido {
      #lomasvendido, #nuevasofertas{
        .productos{
          width: 80%;
        }
      }
      #categorias{
        .lista{
          .columna{
            .grupo{
              .elemento{
                padding: 0.5rem;
                img{
                  height: 4rem;
                }
                .varios{
                  padding: 1rem 0;
                }
              }
            }
          }
        }
      }
    }
  }
  #contacto{
    .garantia{
      right: 1rem;
    }
    .info1{
      .elemento{
        img{
          height: 3rem;
        }
        strong{
          font-size: 0.9rem;
        }
        p{
          font-size: 0.7rem;
        }
      }
    }
  }
  .page-template-template-homepage{
    .contenido{
      #iconos{
        margin-top: 1rem;
        a{
          width: 5rem;
          height: 5rem;
          font-size: 0.5rem;
          margin: 0rem;
        }
      }
    }
  }
}